version: '3.8'
services:
	rabbitmq:
		image: rabbitmq:3.11-management
		environment:
			RABBITMQ_DEFAULT_USER: guest
			RABBITMQ_DEFAULT_PASS: guest
p		orts:
			- "5672:5672"
			- "15672:15672"
		healthcheck:
			test: ["CMD", "rabbitmqctl", "status"]
			interval: 10s
			timeout: 5s
			retries: 10

	redis:
		image: redis:7
		ports:
			- "6379:6379"
		healthcheck:
			test: ["CMD", "redis-cli", "ping"]
			interval: 10s
			timeout: 5s
			retries: 5